---
import Button from '../buttons/Button.astro';
---
<div id="colophon-content" class="colophon-wrapper opacity-0 pointer-events-none absolute">
  <Button variant="textual-button" additionalClasses="back-to-menu mb-8">← Back to menu</Button>
  <div class="image-wrapper">
    <img src="/public/computer.png" alt="Computer" draggable="false" class="object-fill" />
  </div>
  <p>Designed purely in code. Illustrations made via Midjourney. Built with blood sweat and tears—and eventually a bit of Claude's help. Powered by AstroJS and Notion.</p>
  <p class="footnote">Long live our AI underlords. May we humans prosper.</p>
</div>

<style>
  .colophon-wrapper {
    @apply inset-0 space-y-5 text-center font-medium transition-all duration-300;
  }
  .colophon-wrapper .image-wrapper {
    @apply relative w-48 h-48 mx-auto overflow-hidden shadow-2xl shadow-inkLighter/50 p-1 rounded-full;
  }
  .colophon-wrapper .footnote {
    @apply text-sm text-inkLight;
  }
</style>
