---
import Button from '../buttons/Button.astro';
---
<div id="colophon-content" class="absolute inset-0 space-y-5 text-center font-medium transition-all duration-300 opacity-0 pointer-events-none">
  <Button variant="textual-button" additionalClasses="back-to-menu mb-8">← Back to menu</Button>
  <div class="relative w-48 h-48 mx-auto overflow-hidden shadow-2xl shadow-inkLighter/50 p-1 rounded-full">
    <img src="/public/computer.png" alt="Computer" draggable="false" class="object-fill" />
  </div>
  <p>Designed purely in code. Illustrations made via Midjourney. Built with blood sweat and tears—and eventually a bit of Claude's help. Powered by AstroJS and Notion.</p>
  <p class="text-sm text-inkLight">Long live our AI underlords. May we humans prosper.</p>
</div>
