---
import * as Icon from '@astropub/icons';

interface Props {
  href: string;
  text?: string;
  additionalClasses?: string;
}

const { href, text, additionalClasses } = Astro.props;
---

<a href={href} class={`link-wrapper ${additionalClasses}`}>
  <span class="button-circle">
    <Icon.ArrowLeft size="18" stroke-width="4" class="icon-arrow" />
    <span class="icon-circle-fill">&nbsp;</span>
  </span>
  {text &&<span class="link-text">Back to {text}</span>}
</a>

<style>
  .link-wrapper {
    @apply flex items-center gap-2 text-paper w-fit;
  }
  .button-circle {
    @apply w-8 h-8 flex items-center justify-center rounded-full bg-inkLighter overflow-hidden relative hover:shadow-lg;
  }
  .icon-arrow {
    @apply z-[1] group-hover:text-paper transition-colors delay-300
  }
  .icon-circle-fill {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-1 h-1 bg-transparent rounded-full transition-all group-hover:w-full group-hover:h-full group-hover:bg-inkLight delay-300;
  }
  .link-text {
    @apply font-medium group-hover:font-semibold transition-all delay-300;
  }
</style>
