@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .layout-main {
      @apply w-[80vw] h-fit max-w-[1600px] mx-auto flex flex-col;
    }
    
    .layout-background {
      @apply absolute inset-0 z-0 flex;
    }
    
    .layout-showcase {
      @apply flex-1 flex justify-center my-10 rounded-xl border border-paper overflow-hidden shadow-xl shadow-orange-300 relative;
    }

    .layout-showcase-tag {
      @apply absolute left-0 bottom-0 p-5 max-w-[200px] h-fit z-10 bg-paper opacity-0 rounded-md text-ink text-xs leading-5 font-medium flex flex-col gap-1 transition-all group-hover/showcase:delay-500 group-hover/showcase:opacity-100 group-hover/showcase:m-7;
    }
    
    .layout-basis {
      @apply w-full h-screen overflow-auto flex gap-8 mx-auto;
    }
    
    .layout-left-column {
      @apply w-full max-w-[480px] flex flex-col items-center justify-start gap-10 relative z-10;
      height: calc(100vh - 40px);
    }
    
    .layout-left-contents {
      @apply flex-1 w-full mx-auto py-10 sticky top-0;
    }
    
    .layout-right-column {
      @apply flex-1 flex flex-col items-start gap-10 overflow-y-auto relative z-10 overflow-auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    
    .layout-right-column::-webkit-scrollbar {
      display: none;
    }

    /* Two Column Layout styles */
    .two-col-basis {
      @apply min-h-screen mx-auto overflow-hidden px-4 md:px-6 lg:px-8 max-lg:pt-28
             flex items-center justify-center;
    }

    .two-col-container {
      @apply flex flex-col lg:flex-row gap-8 lg:gap-20 w-full max-w-7xl h-screen
             items-center justify-center;
    }

    .two-col-left-column {
      @apply flex-1 relative z-10 py-6 lg:py-0 lg:justify-start lg:text-left lg:items-end max-h-fit
             flex flex-col items-center justify-center gap-6 lg:gap-10;
    }

    .two-col-left-contents {
      @apply w-full lg:w-[440px] flex flex-col items-center text-center lg:justify-start lg:items-start lg:text-left;
    }

    .two-col-right-column {
      @apply relative z-10 flex-1 flex flex-col items-center max-lg:justify-start
             gap-6 lg:gap-10 overflow-y-auto 
             max-w-[800px] 
             lg:max-h-[calc(100vh-80px)];
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    .two-col-right-column .text-content {
      @apply text-left w-full;
    }

    .two-col-subtitle {
      @apply mt-2;
    }

    .hide-scrollbar {
      @apply overflow-auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    .hide-scrollbar::-webkit-scrollbar {
      display: none;
    }
}
