---
interface Props {
  line1: string;
  line2: string;
  additionalClasses?: string;
}

const { line1, line2, additionalClasses = '' } = Astro.props;
---

<h1 class={`flex flex-col my-8 ${additionalClasses}`}>
  <span>{line1}</span>
  <span>{line2}</span>
</h1>

<style>
  h1 {
    @apply text-7xl text-inkDark;
    span {
      @apply leading-none;
    }
  }
</style>