---
import '../styles/global.css';

interface Props {
  href?: string;
  onClick?: string;
  type?: 'link' | 'button';
  additionalClasses?: string;
  children: any;
}

const { href, onClick, type = 'button', additionalClasses = '', children } = Astro.props;
---

{type === 'link' ? (
  <a href={href} class="button ${additionalClasses}">
    <span class="z-10 relative"><slot /></span>
  </a>
) : (
  <button onclick={onClick} class={`button ${additionalClasses}`}>
    <span class="z-10 relative"><slot /></span>
  </button>
)}

<style>
  .button {
    @apply relative border-2 border-white shadow-md py-1.5 px-4 rounded-full text-black text-center text-base overflow-hidden bg-white/50 transition-all hover:bg-black hover:text-white;
  }
</style>
