---
interface Props {
  size?: string;
  classNames?: string;
}

const { size, classNames } = Astro.props;
---

<section class={`block ${classNames} ${size === 'small' ? 'max-w-5xl' : ''}`}>
  <slot />
</section>

<style>
  .block {
    @apply flex-1 w-full mx-auto flex flex-col gap-3 justify-center;
  }
  .block :global(h2) {
    @apply text-5xl font-medium font-instrument;
  }
</style>