---
import { ViewTransitions } from 'astro:transitions';
import CoordinateGrid from '../components/CoordinateGrid.astro';
import '../styles/layout.css';  // Add this import
import LoadingBar from '../components/LoadingBar.astro';

interface Props {
	title: string;
	body_classes?: string;
}

const { title, body_classes = '' } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class={`relative min-h-screen ${body_classes}`}>
		<LoadingBar />
		<CoordinateGrid />
		<div class="content relative z-10 w-full h-screen min-h-fit p-12">
			<slot />
		</div>
	</body>
</html>

<script>
	document.addEventListener('astro:page-load', () => {
		const loadingBar = document.getElementById('loading-bar');
		if (loadingBar) {
			loadingBar.style.display = 'none';
		}
	});

	document.addEventListener('astro:before-preparation', () => {
		const loadingBar = document.getElementById('loading-bar');
		if (loadingBar) {
			loadingBar.style.display = 'block';
		}
	});
</script>

<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		--loading-progress-color: #BCAD8F;
	}
	html {
		@apply bg-paper text-ink;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	body {
		@apply relative min-h-screen text-ink;
	}
	.content {
		@apply relative z-10;
	}

  h1 {
    @apply font-instrument text-7xl text-inkDark leading-none;
  }
  h2 {
    @apply text-3xl text-inkDark;
  }
</style>
